<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="color: black;">
    <ion-card-header style="background-color: #0079c5;">
      <b style="color: white">Matríz - Mérida, Yucatán.</b>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="color: #666666;">
            Calle 3 # 236 depto. 1 entre 20 y 22 Col. García Ginerés. C.P. 97070 Mérida, Yucatán, México.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Teléfonos: </b><a href="tel:9999255443">(999)92-55-443</a> | <a href="tel:9992864690">(999) 286-49-90</a>
            | <a href="tel:9992865001"> (999) 286-50-01</a> y <a href="tel:9992865159">(999) 286-51-59</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <address>
              <b>Email: <a href="mailto:informes@rutamayatravel.com" class="">informes@rutamayatravel.com</a></b>
            </address>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Horarios</b>
            <ul>
              <li><strong>Lunes-Viernes:</strong> 9am a 8pm</li>
              <li><strong>Sábado:</strong> 9am a 2pm</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>



  <ion-card style="color: black;">
    <ion-card-header style="background-color: #0079c5;">
      <b style="color: white">Suc. - Chiapas</b>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="color: #666666;">
            Dirección 15 OTE Sur número 621, local 3. Plaza Koyá planta alta. CP. 29019,Tuxtla, Gutierrez, Chiapas
            México.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Teléfonos: </b><a href="tel:9612242670">(961) 224 2670</a> | <a href="tel:9612230830">(961) 22 30830</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <address>
              <b>Email: <a href="mailto:ventaschiapas@rutamayatravel.com">ventaschiapas@rutamayatravel.com</a></b>
            </address>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Horarios</b>
            <ul class="list-unstyled margin-bottom-30">
              <li><strong>Lunes-Viernes:</strong> 9am a 8pm</li>
              <li><strong>Sábado:</strong> 9am a 2pm</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card style="color: black;">
    <ion-card-header style="background-color: #0079c5;">
      <b style="color: white">Suc. - Monterrey</b>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col style="color: #666666;">
            Av. Jose Alvarado 2500 Desp 120 Esq Nogales M Asueta Villa Florida, C.P. 64810 Monterrey Nuevo Leon
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Celular: </b><a href="tel:8127331470">(812) 733 1470</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <address>
              <b>Email: <a href="mailto:ventasnorte@rutamayatravel.com">ventasnorte@rutamayatravel.com</a></b>
            </address>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Horarios</b>
            <ul class="list-unstyled margin-bottom-30">
              <li><strong>Lunes-Viernes:</strong> 9am a 8pm</li>
              <li><strong>Sábado:</strong> 9am a 2pm</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row style="text-align: center;">
      <ion-col>
        <ion-label color="dark">Siguenos en:</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="https://facebook.com/RutaMayaTravel/?ref/aymt_homepage_panel" class="btn-facebook"
          expand="block">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="https://www.instagram.com/rutamayatravel" expand="block" class="btn-instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="https://youtube.com/channel/UCjssE9LVR20ZiCRXBvnqkmA" expand="block" class="btn-gplus">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>