<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-avatar slot="start">
                  <img src="https://rutamayatravel.com/imagenes/{{usuario.datosUsuario.foto==null ? 'user.png' : usuario.datosUsuario.foto}}">
                </ion-avatar>
                <ion-label>
                  <h3>{{usuario.datosUsuario.nombre_agencia}}</h3>
                  <h2>{{usuario.nombre_usuario}}</h2>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>          
              <ion-button expand="block" color="primary"  (click)="logout()">
                <ion-icon name="log-out"></ion-icon><span> Cerrar Sesión</span>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-header>




      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
